<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        <title>JavaScript Handbook</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script type="text/javascript" src="../js/jquery.js"></script>
    </head>
    <body>
        <!-- START SITE -->
        <div class="site">
            <!-- START HEADER -->
            <header></header>
            <!-- END HEADER -->
            <!-- START WRAPPER -->
            <main role="main" class="wrapper">
                <section id="notes-module" class="main-content">
                    <div class="wrap">
                        <div class="notes-wrapper">
                            <div class="notes-header">
                                <button class="edit-btn icon-btn" id="note-edit-btn" data-target-field="noteList"><i class="far fa-edit"></i></button>
                                <button class="btn btn-success" id="note-done-btn">Done</button>
                            </div>
                            <div class="notes-body">
                                <ul id="noteList"></ul>
                            </div>
                            <div class="new-form-container notes-form">
                            <div class="section-title">
                                <h4>Add a New Note</h4>
                            </div>
                            <form id="new-form" class="new-form">
                                <div class="form-field">
                                    <input type="text" class="form-control" placeholder="Title" id="add-title" required>
                                </div>
                                <div class="form-field">
                                    <span class="select-menu">
                                        <select id="add-category" class="form-control" required>
                                            <option value="Category">Category</option>
                                            <option value="JavaScript">JavaScript</option>
                                            <option value="jQuery">jQuery</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="form-field">
                                    <textarea class="form-control" name="introduction" placeholder="Introduction" id="add-introduction"></textarea>
                                </div>
                                <div class="form-field">
                                    <textarea class="form-control" name="syntax" placeholder="Syntax" id="add-syntax" class="syntax-editor"></textarea>
                                </div>
                                <div class="form-field">
                                    <textarea class="form-control" name="description" placeholder="Description" id="add-description" class="description-editor"></textarea>
                                </div>
                                <div class="form-field">
                                    <button type="submit" value="Add New" class="btn btn-success">Add New</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- END WRAPPER -->
            <!-- START FOOTER -->
            <footer></footer>
            <!-- END FOOTER -->
        </div>
        <!-- END SITE -->
    <script type="text/javascript" defer src="../js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    </body>
</html>