<!DOCTYPE html>
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1")
        title JavaScript Handbook
        link(rel="stylesheet" type="text/css" href="../css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        script(type="text/javascript" src="../js/jquery.js")
        script(type="text/javascript" src="../js/ckeditor/ckeditor.js")
    body
        // START SITE
        .site
            // START HEADER
            header
            
            // START WRAPPER
            main.wrapper(role="main")
                section.main-content#notes-module
                    .wrap
                        .notes-wrapper
                            .notes-header
                                button.add-btn.btn.btn-primary#note-add-btn
                                    i.fas.fa-plus-circle
                                    span Add Note
                                button.manage-btn.btn.btn-primary#note-manage-btn 
                                    i.fas.fa-edit
                                    span Manage
                                button.done-btn.btn.btn-success#note-done-btn 
                                    span Done
                            .notes-body
                                .single-note#single-note
                                    span.single-back#single-back View All Notes
                                    .single-title
                                        h2.h2 Lorem Ipsum
                                    .single-category
                                        h5.h5 Lorem Ipsum
                                    .single-introduction
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    .single-syntax
                                        h4.h4 Lorem Ipsum
                                        div Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    .single-description
                                        h4.h4 Lorem Ipsum
                                        div Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .notes-body
                                    ul#note-list
                            .new-form-container.notes-form#note-form-container
                                .section-title
                                    h4 Add a New Note
                                form#note-form.new-form
                                    .form-field
                                        input.form-control#add-title(
                                            type="text" 
                                            placeholder="Title" 
                                            required)
                                    .form-field
                                        span.select-menu
                                            select#add-category.form-control(required)
                                                option(value="") Category
                                                option(value="javascript") JavaScript
                                                option(value="jquery") jQuery
                                    .form-field
                                        textarea.form-control#add-introduction(name="introduction" placeholder="Introduction")
                                    .form-field
                                        textarea.form-control.syntax-editor#add-syntax(name="syntax" placeholder="Syntax")
                                    .form-field
                                        textarea.form-control.description-editor#add-description(name="description" placeholder="Description")
                                    .form-field
                                        button.btn.btn-success#form-submit(type="submit" value="Add New") Add Note
            // START FOOTER
            footer
    script(defer src="../js/fontawesome-all.min.js")
    script.
        var notes = !{JSON.stringify(notes)}
    script(src="../js/script.js")