/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; font-style: normal; font-weight: 400; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; }

em, strong, b, i, a, span, sub, sup, small { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

a:focus { outline: 0; }

:focus, :active { outline: none; outline: 0; }

::-moz-focus-inner { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

li { list-style: none; }

a { text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border-top: 1px solid #000; color: #000; }

input, select { vertical-align: middle; }

sub { vertical-align: sub; font-size: smaller; line-height: 0px; }

sup { vertical-align: super; font-size: smaller; line-height: 0px; }

input, button, textarea, select, label, img { display: inline-block; max-width: 100%; height: auto; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { -webkit-appearance: none; }

textarea { resize: none; overflow: auto; }

button, a span { cursor: pointer; }

button { border: 0; text-align: center; }

button::-moz-focus-inner { padding: 0; border: 0; }

table { table-layout: fixed; }

a[href^=tel] { color: inherit; }

select { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; }

select:-moz-focusring { color: transparent; }

select::-ms-expand { display: none; }

/* != FONT SMOOTHING */
body, input, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* != BACKGROUND POSITION AND BOX SIZING */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; background-position: center; background-repeat: no-repeat; }

/* != .clearfix - CLEAR ELEMENTS */
.clear { clear: both; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }

/* Hides from IE-mac \*/
.clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix { zoom: 1; }

/* IE7 */
/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; word-wrap: break-word; }

html, body { font: normal 16px/1.2 sans-serif; color: #000; }

h1 { font: normal 16px/1.2 sans-serif; }

h1 { font: normal 16px/1.2 sans-serif; }

h1 { font: normal 16px/1.2 sans-serif; }

h4 { font: normal 20px/1.5 sans-serif; }

h1 { font: normal 16px/1.2 sans-serif; }

h1 { font: normal 16px/1.2 sans-serif; }

.wrap { width: 1100px; max-width: 100%; margin: 0 auto; padding: 0 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.icon-btn { display: inline-block; vertical-align: middle; background-color: transparent; border: 0; color: #000; cursor: pointer; padding: 0; font-size: 24px; }

.icon-btn:hover { color: #28a745; }

.icon-btn svg { pointer-events: none; }

form .form-field { margin-bottom: 20px; }

form .form-field:last-child { margin-bottom: 0; }

button, input[type=submit], .btn { text-transform: uppercase; letter-spacing: 0.6px; }

.section-title { margin-bottom: 20px; text-align: center; text-transform: uppercase; }

/* ============================ */
/* CREATE NEW NOTE FORM
/* ============================ */
#note-form-container { display: none; }

#note-form .form-field { text-align: center; }

#note-form .form-field:first-child { width: 49%; float: left; }

#note-form .form-field:nth-of-type(2) { width: 49%; float: right; }

#note-form #add-syntax { height: 100px; }

#note-form #add-description { height: 150; }

#note-form .btn { width: 200px; margin: 0 auto; }

/* ============================ */
/* NOTES MODUKE
/* ============================ */
#notes-module { margin: 50px 0; }

#notes-module #note-done-btn { display: none; }

#notes-module .notes-header .btn svg { margin-right: 5px; }

#notes-module .notes-header .btn + .btn { margin-left: 5px; }

#notes-module .notes-header .manage-btn { display: none; }

#notes-module .notes-wrapper { max-width: 700px; margin: 0 auto; }

#notes-module .notes-form { margin: 50px 0; }

#notes-module #noteList:not(:empty) { padding: 50px 0; }

#notes-module #noteList .list-item { position: relative; overflow: hidden; cursor: pointer; }

#notes-module #noteList .list-item .item-top { pointer-events: none; }

#notes-module #noteList .list-item .item-top .item-header { display: inline-block; vertical-align: middle; width: 20%; margin-right: 20px; }

#notes-module #noteList .list-item .item-top .item-header .item-title { font-size: 18px; letter-spacing: 0.5px; font-weight: 300; margin-bottom: 5px; pointer-events: none; }

#notes-module #noteList .list-item .item-top .item-header .item-title[contenteditable=true] { border: solid 1px #999; padding: 5px 9px; }

@media screen and (max-width: 768px) { #notes-module #noteList .list-item .item-top .item-header .item-title[contenteditable=true] { margin: 15px 0 10px; } }

#notes-module #noteList .list-item .item-top .item-header .item-category { color: #999; font-size: 11px; font-weight: 500; text-transform: uppercase; pointer-events: none; }

@media screen and (max-width: 768px) { #notes-module #noteList .list-item .item-top .item-header .item-category select { margin-bottom: 10px; } }

@media screen and (max-width: 768px) { #notes-module #noteList .list-item .item-top .item-header { display: block; width: 100%; margin-right: 0; } }

#notes-module #noteList .list-item .item-top .item-introduction { display: inline-block; vertical-align: middle; width: calc(80% - 74px); overflow-x: auto; pointer-events: none; }

#notes-module #noteList .list-item .item-top .item-introduction[contenteditable=true] { height: 100%; min-height: 60px; border: solid 1px #999; padding: 5px 9px; }

@media screen and (max-width: 768px) { #notes-module #noteList .list-item .item-top .item-introduction { display: block; width: 100%; margin-left: 0; } }

#notes-module #noteList .list-item .item-bottom { display: none; overflow-x: auto; }

#notes-module #noteList .list-item .item-bottom div:not(:empty) { border-top: solid 1px #eee; padding-top: 10px; margin-top: 10px; }

#notes-module #noteList .list-item .item-btns { position: absolute; top: 0; right: -100%; width: 90px; height: 100%; background-color: rgba(0, 0, 0, 0.7); text-align: center; font-size: 0; -webkit-transition: right 0.15s; -o-transition: right 0.15s; transition: right 0.15s; }

#notes-module #noteList .list-item .item-btns::before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; }

#notes-module #noteList .list-item .item-btns .item-btn { width: 25px; display: inline-block; vertical-align: middle; padding: 0; background-color: transparent; border: 0; cursor: pointer; color: #fff; font-size: 20px; text-align: center; }

#notes-module #noteList .list-item .item-btns .item-btn svg { pointer-events: none; }

#notes-module #noteList .list-item .item-btns .item-btn + .item-btn { margin-left: 15px; }

#notes-module #noteList .list-item .item-btns .item-btn.edit-btn:hover { color: #1983ff; }

#notes-module #noteList .list-item .item-btns .item-btn.delete-btn:hover { color: #ff2f2f; }

#notes-module #noteList .list-item .item-btns.active { right: 0; }

/*# sourceMappingURL=style.css.map */